
.root {
    -fx-purple: #7E03AC;
    -fx-yellow: #FFEA04;
    -fx-pink: #FE3A9E;
}

.main-background {
    -fx-background-color: -fx-purple;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane {
   -fx-background-color: transparent;
}

/*.border-invisible{
    -fx-border-color: -fx-purple;
}*/

.title-font{
    -fx-font: bold 60px "Impact";
    -fx-text-fill: -fx-yellow;
}

.main-font{
    -fx-font: bold 30px "Impact";
    -fx-text-fill: -fx-yellow;
}

.info-font{
    -fx-font: bold 15 "Impact";
    -fx-text-fill: -fx-yellow;
}

.button {
    -fx-background-color: -fx-pink;
    -fx-text-fill: -fx-yellow;
    -fx-padding: 10px 100px;
}

.lvlBox{
    -fx-padding: 10px;
}